@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  scroll-behavior: smooth;
}

@media screen and (min-width: 768px) {
  .navBanner {
    background-image: linear-gradient(to right, #f2f2f2 60%, #00cc99 60%);
  }

  .heroSection {
    min-height: 600px;
  }
}

.cardCategory {
  min-height: 248px;
}

.cardJobCategories {
  min-height: 260px;
}

@media screen and (max-width: 482px) {
  .cardCategory {
    min-height: 320px !important;
  }
}

@media screen and (max-width: 452px) {
  .cardCategory {
    min-height: 350px !important;
  }
}

@media screen and (max-width: 391px) {
  .cardCategory {
    min-height: 380px !important;
  }
}

.swiper-slide {
  padding-bottom: 10px;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transition: all 0.5s;
}

.hamburger-middle {
  width: 12px;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.jobCard{
  min-height: 480px;
}
